In [83]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
a=pd.read_csv('C:/Users/Revanth Sivaraju/Downloads/Microsoft.SkypeApp_kzf8qxf38zg5c!App/All/Fraud_Data.csv')
a

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,class
0,22058,2/24/15 22:55,4/18/15 2:47,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,0.0
1,333320,6/7/15 20:39,6/8/15 1:38,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,0.0
2,1359,1/1/15 18:52,1/1/15 18:52,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,1.0
3,150084,4/28/15 21:13,5/4/15 13:54,44,ATGTXKYKUDUQN,SEO,Safari,M,41,0.0
4,221365,7/21/15 7:09,9/9/15 18:40,39,NAUITBZFJKHWW,Ads,Safari,M,45,0.0
5,159135,5/21/15 6:03,7/9/15 8:05,42,ALEYXFXINSXLZ,Ads,Chrome,M,18,0.0
6,50116,8/1/15 22:40,8/27/15 3:37,11,IWKVZHJOCLPUR,Ads,Chrome,F,19,0.0
7,360585,4/6/15 7:35,5/25/15 17:21,27,HPUCUYLMJBYFW,Ads,Opera,M,34,0.0
8,159045,4/21/15 23:38,6/2/15 14:01,30,ILXYDOZIHOOHT,SEO,IE,F,43,0.0
9,182338,1/25/15 17:49,3/23/15 23:05,62,NRFFPPHZYFUVC,Ads,IE,M,31,0.0
10,199700,7/11/15 18:26,10/28/15 21:59,13,TEPSJVVXGNTYR,Ads,Safari,F,35,0.0
11,73884,5/29/15 16:22,6/16/15 5:45,58,ZTZZJUCRDOCJZ,Direct,Chrome,M,32,0.0
12,79203,6/16/15 21:19,6/21/15 3:29,18,IBPNKSMCKUZWD,SEO,Safari,M,33,0.0
13,299320,3/3/15 19:17,4/5/15 12:32,50,RMKQNVEWGTWPC,Direct,Safari,M,38,0.0
14,82931,2/16/15 2:50,4/16/15 0:56,15,XKIFNYUZMBWFU,SEO,IE,M,24,0.0
15,31383,2/1/15 1:06,3/24/15 10:17,58,UNUAVQXNWFBMO,SEO,Safari,F,24,0.0
16,78986,5/15/15 3:52,8/11/15 2:29,57,TGHVAWBMZRDHH,SEO,FireFox,M,23,0.0
17,119824,3/20/15 0:31,4/5/15 7:31,55,WFIIFCPIOGMHT,Ads,Safari,M,38,0.0
18,357386,2/3/15 0:48,3/24/15 18:27,40,NWSVDOHYIOBDR,Ads,FireFox,M,24,0.0
19,289172,7/17/15 5:48,11/12/15 22:08,46,KFZGQIWDIRLZB,Direct,FireFox,F,53,0.0
20,154699,7/8/15 15:35,7/20/15 0:11,24,TYZPZLEWNJJRI,Direct,FireFox,F,23,0.0
21,316355,8/8/15 20:05,10/3/15 2:21,47,IHGECNGZGQOAZ,SEO,Chrome,M,28,0.0
22,343378,1/30/15 8:50,4/22/15 15:11,47,VOMVNRHNBLLMI,SEO,Chrome,F,24,0.0
23,370338,1/8/15 11:47,3/29/15 20:46,25,QLMZBEDPYFUXT,Ads,IE,M,34,0.0
24,171711,1/11/15 1:51,1/11/15 1:51,52,YPLQGKBAAULUV,Direct,IE,F,35,1.0
25,59780,1/4/15 22:32,1/16/15 1:13,31,WUMOBGUCBOXPO,SEO,FireFox,M,36,1.0
26,176129,1/28/15 12:53,1/29/15 23:21,37,XUNJIVTRXCRZL,Ads,IE,M,32,0.0
27,100886,7/12/15 14:14,7/29/15 7:41,54,GIREUSMFWWUZJ,SEO,Chrome,F,28,0.0
28,221257,5/29/15 17:55,9/5/15 22:42,12,LGFXOENGXOBXI,SEO,IE,M,19,0.0
29,151705,1/7/15 3:44,1/7/15 3:44,48,URHCRIXOMLJMH,SEO,Chrome,F,27,1.0
...,...,...,...,...,...,...,...,...,...,...
51660,7333,4/14/15 20:31,7/5/15 12:41,55,NTMERPCJYUWKL,SEO,IE,M,22,0.0
51661,138654,1/22/15 4:40,3/23/15 22:34,58,LRORGSTNBIERB,Ads,FireFox,M,30,1.0
51662,95519,6/5/15 13:54,9/9/15 5:08,43,BACCPPXGRUGTK,Direct,Chrome,F,37,0.0
51663,79220,1/1/15 16:09,1/1/15 16:09,21,UPHXPBIEBMOAQ,Direct,Chrome,M,30,1.0
51664,348637,2/19/15 23:07,4/4/15 9:33,36,SEUYVSMSSQEWB,SEO,Chrome,M,47,0.0
51665,80001,2/10/15 12:18,5/9/15 23:27,19,PTFIKRQDZTOFP,Ads,Chrome,M,35,0.0
51666,240174,4/7/15 9:55,7/17/15 20:21,22,QJZAIKOCEMUBP,Ads,Opera,M,38,0.0
51667,169766,1/7/15 6:50,1/7/15 6:50,47,LTIXRZLNWCKBM,Ads,IE,M,38,1.0
51668,141885,6/6/15 19:54,6/19/15 23:23,56,VLXWMXWXOJBMY,Ads,Chrome,M,36,0.0
51669,392345,2/15/15 7:38,2/26/15 5:35,102,GOYIMIVKLRXTA,Ads,Chrome,F,39,0.0
51670,389190,1/8/15 13:17,3/25/15 17:56,39,HQRUJZBFPTCWJ,SEO,Chrome,M,24,0.0
51671,62995,1/8/15 17:51,1/8/15 17:51,27,OPXESDMTRMTKL,Ads,Chrome,M,22,1.0
51672,117739,6/3/15 9:58,8/10/15 14:59,51,QRCAIITRXSDOA,Ads,Chrome,F,44,0.0
51673,337012,3/7/15 3:01,3/10/15 3:08,45,OWZAYLMBNVJZG,Ads,IE,M,37,0.0
51674,336273,1/2/15 13:01,3/25/15 20:34,37,WZTXJSAUREMJX,SEO,Safari,F,53,0.0
51675,31771,1/11/15 22:03,1/11/15 22:03,64,ZVXLKXALNPKXD,SEO,Chrome,M,29,1.0
51676,68283,4/28/15 10:02,7/13/15 13:34,22,RUKBZAVLSKPJD,Direct,Chrome,M,28,0.0
51677,84868,8/3/15 11:41,8/19/15 18:42,56,JZVADOOWEBJRH,Ads,Chrome,F,26,1.0
51678,145354,1/20/15 6:23,5/6/15 6:17,25,YWPSUJYORDPEE,SEO,Chrome,F,27,0.0
51679,216380,6/4/15 10:41,7/7/15 20:02,40,NAYPXRTFNTXLT,Direct,Chrome,M,30,0.0
51680,17116,3/28/15 11:03,7/22/15 2:33,60,QDDQHIIRAHLJG,Ads,IE,M,39,0.0
51681,211082,4/10/15 18:01,4/30/15 2:00,9,MWQPSDHARQUXJ,SEO,Chrome,F,35,0.0
51682,110296,3/30/15 12:21,7/21/15 7:38,39,SNFJGVKLIWEST,SEO,Chrome,M,28,0.0
51683,266471,5/19/15 1:43,8/10/15 19:47,22,KYWBACXHPBSSN,Ads,Chrome,F,25,0.0
51684,8798,7/31/15 4:03,9/30/15 5:22,16,WLRCALOPAHVGF,Direct,Opera,M,33,0.0
51685,9614,5/14/15 3:56,9/10/15 20:39,30,UEHNEREQPKMQK,Ads,Opera,M,43,0.0
51686,241888,7/19/15 11:47,8/9/15 16:48,41,AJUASUIVIJTGJ,SEO,FireFox,F,22,0.0
51687,66330,3/17/15 9:35,4/30/15 19:02,61,BRIDIBEBCACMH,SEO,IE,M,43,0.0
51688,279230,7/13/15 18:37,10/16/15 15:39,36,RJMEBUZZRPHRC,Ads,Safari,M,57,0.0
51689,266538,1/25/15 22:53,5/21/15 16:44,30,RLHPASMAQSHQQ,Ads,FireFox,M,32,NaN

In [85]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51690 entries, 0 to 51689
Data columns (total 10 columns):
user_id           51690 non-null int64
signup_time       51690 non-null object
purchase_time     51690 non-null object
purchase_value    51690 non-null int64
device_id         51690 non-null object
source            51690 non-null object
browser           51690 non-null object
sex               51690 non-null object
age               51690 non-null int64
class             51689 non-null float64
dtypes: float64(1), int64(3), object(6)
memory usage: 3.9+ MB

In [86]:
a.describe()

             user_id  purchase_value           age         class
count   51690.000000    51690.000000  51690.000000  51689.000000
mean   200484.522712       36.929193     33.088528      0.093482
std    115274.121825       18.374835      8.600336      0.291110
min         4.000000        9.000000     18.000000      0.000000
25%    100899.250000       22.000000     27.000000      0.000000
50%    200931.500000       34.000000     33.000000      0.000000
75%    299895.000000       49.000000     39.000000      0.000000
max    399995.000000      154.000000     73.000000      1.000000

In [87]:
a.corr()

                 user_id  purchase_value       age     class
user_id         1.000000        0.001513 -0.000636  0.007338
purchase_value  0.001513        1.000000  0.001599  0.003875
age            -0.000636        0.001599  1.000000  0.010240
class           0.007338        0.003875  0.010240  1.000000

In [88]:
df=a["class"]

In [89]:
df.isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
51660    False
51661    False
51662    False
51663    False
51664    False
51665    False
51666    False
51667    False
51668    False
51669    False
51670    False
51671    False
51672    False
51673    False
51674    False
51675    False
51676    False
51677    False
51678    False
51679    False
51680    False
51681    False
51682    False
51683    False
51684    False
51685    False
51686    False
51687    False
51688    False
51689     True
Name: class, Length: 51690, dtype: bool

In [90]:
b=a.fillna(df.mean())

In [91]:
b.device_id.value_counts()

HGVNRPOHIBZLJ    10
NKIHDDUCTWEVS     9
GTIYVLCMAYBFA     9
PPCQNVONMGSBH     9
UHCAPOHBEBXJW     9
DNVWPOHEZSLMX     9
EWRNZEOOZCJRN     9
XSEQHFFOYFICY     9
QRDCVZTJHNRKM     9
FFWAQIABHGYJC     8
WDQRJNMUCCKLZ     8
SUEKLSZWLASFR     8
FVYSKVOAMYIZM     8
OFZRXFBCTRBWK     8
NUROYEARPUYSJ     8
NAOQDDXPJQHSW     8
NMCSWSCOZQJUP     8
VSZLPCXAISHQC     8
DNEKXSIEGFBWD     8
EYHPICOKTIBJO     8
XWRXEZURUYHBE     8
NRANBRUWVRPOT     8
CJWVPNPXURMXB     8
PQSQPZPLEPZVX     8
VZZHHSMUZKYHP     8
QRMOMDDTIIUVW     8
SMQAXNAWIIXFY     7
SVWXYXETCQFOT     7
ZYZQZXBXADPST     7
YSSKYOSJHPPLJ     7
                 ..
LRBFALUBXRQDT     1
DKHTTQTWXBQDH     1
GKUCVJZPMFFDT     1
TMHTPWSPEXWRN     1
FZCLTOMFKNHZE     1
JTFVIBFMADDYS     1
XIAYRKIHRYOGL     1
CDAIJHVTAGDVL     1
BVVLGBQQCDDCT     1
WIHTEYHHWLDVJ     1
UBXIMZXHILRIF     1
ROPENPUOAFKNI     1
RPCDXKBPBTTXU     1
OXGDXCZBMMYEX     1
TMYGZIXIDGNCW     1
FNLIBEMAGFQXO     1
ZXCHRXXCNHKQI     1
MNOWZJSGVJUPY     1
RQKQOYTGIXNWF     1
XWGVPQUZOBXUS     1
RCWBMBIMAWIRX     1
CZLJPXPBIJBJZ     1
GOUOBLCSXVWEK     1
UQMUOKBQKFNGR     1
XJYCMQURWOUCE     1
RDSTADFTFBRLG     1
UDLOTZWMLDHDK     1
RJPXPJDOIMMEE     1
QDMZJNWDPHRRX     1
BRWZBPIBDMEFQ     1
Name: device_id, Length: 48919, dtype: int64

In [93]:
b.user_id.value_counts()

264191    1
222521    1
271697    1
187726    1
312653    1
337481    1
136733    1
302406    1
177475    1
216380    1
302781    1
97594     1
70967     1
157081    1
339248    1
122158    1
247085    1
221066    1
261418    1
386345    1
310129    1
101668    1
21791     1
290486    1
15698     1
144723    1
263509    1
163162    1
305773    1
142736    1
         ..
88000     1
309180    1
34746     1
38840     1
327669    1
167931    1
262187    1
305150    1
25172     1
4137      1
399400    1
24615     1
159781    1
30756     1
18390     1
22560     1
43376     1
243740    1
256022    1
258069    1
158331    1
382992    1
398413    1
210956    1
327691    1
69641     1
71688     1
83970     1
88064     1
131072    1
Name: user_id, Length: 51690, dtype: int64

In [94]:
b.corr()

                 user_id  purchase_value       age     class
user_id         1.000000        0.001513 -0.000636  0.007338
purchase_value  0.001513        1.000000  0.001599  0.003875
age            -0.000636        0.001599  1.000000  0.010240
class           0.007338        0.003875  0.010240  1.000000

In [95]:
c = pd.get_dummies(b, columns=['browser','source','sex'])

In [96]:
c['signup_time'] =  pd.to_datetime(c['signup_time'], format="%m/%d/%y %H:%M")

c['purchase_time'] =  pd.to_datetime(c['purchase_time'], format="%m/%d/%y %H:%M")

In [97]:
c['signup_year'] = c['signup_time'].dt.year
c['signup_month'] = c['signup_time'].dt.month
c['signup_month'] = c['signup_time'].dt.dayofweek
c['signup_day'] = c['signup_time'].dt.day
c['signup_hour'] = c['signup_time'].dt.hour
c['signup_minute'] = c['signup_time'].dt.minute
c['purchase_year'] = c['purchase_time'].dt.year
c['purchase_month'] = c['purchase_time'].dt.month
c['purchase_month'] = c['purchase_time'].dt.dayofweek
c['purchase_day'] = c['purchase_time'].dt.day
c['purchase_hour'] = c['purchase_time'].dt.hour
c['purchase_minute'] = c['purchase_time'].dt.minute

In [98]:
c['time difference in days']=(c['purchase_time']-c['signup_time']).dt.days

In [99]:
df1=c["time difference in days"]

In [100]:
df1.isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
51660    False
51661    False
51662    False
51663    False
51664    False
51665    False
51666    False
51667    False
51668    False
51669    False
51670    False
51671    False
51672    False
51673    False
51674    False
51675    False
51676    False
51677    False
51678    False
51679    False
51680    False
51681    False
51682    False
51683    False
51684    False
51685    False
51686    False
51687    False
51688    False
51689    False
Name: time difference in days, Length: 51690, dtype: bool

In [101]:
df_filtered1 = c.query("device_id=='HGVNRPOHIBZLJ'")
df_filtered2

,user_id,signup_time,purchase_time,purchase_value,device_id,age,class,browser_Chrome,browser_FireFox,browser_IE,...,signup_month,signup_day,signup_hour,signup_minute,purchase_year,purchase_month,purchase_day,purchase_hour,purchase_minute,time difference in days
1743,350502,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
6960,37715,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
10959,89703,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
15116,328670,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
16077,7555,2015-01-02 08:15:00,2015-01-02 08:15:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,15,2015,4,2,8,15,0
33382,283588,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
34067,313213,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
36444,358321,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
47010,174561,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0

In [102]:
df_filtered2 = c.query("device_id=='NKIHDDUCTWEVS'")
df_filtered2

,user_id,signup_time,purchase_time,purchase_value,device_id,age,class,browser_Chrome,browser_FireFox,browser_IE,...,signup_month,signup_day,signup_hour,signup_minute,purchase_year,purchase_month,purchase_day,purchase_hour,purchase_minute,time difference in days
1743,350502,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
6960,37715,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
10959,89703,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
15116,328670,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
16077,7555,2015-01-02 08:15:00,2015-01-02 08:15:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,15,2015,4,2,8,15,0
33382,283588,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
34067,313213,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
36444,358321,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0
47010,174561,2015-01-02 08:14:00,2015-01-02 08:14:00,27,NKIHDDUCTWEVS,34,1.0,0,0,1,...,4,2,8,14,2015,4,2,8,14,0

In [103]:
df_filtered3 = c.query("device_id=='GTIYVLCMAYBFA'")
df_filtered3

,user_id,signup_time,purchase_time,purchase_value,device_id,age,class,browser_Chrome,browser_FireFox,browser_IE,...,signup_month,signup_day,signup_hour,signup_minute,purchase_year,purchase_month,purchase_day,purchase_hour,purchase_minute,time difference in days
190,170138,2015-01-08 09:32:00,2015-01-08 09:33:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,32,2015,3,8,9,33,0
7431,361488,2015-01-08 09:32:00,2015-01-08 09:32:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,32,2015,3,8,9,32,0
10826,335166,2015-01-08 09:32:00,2015-01-08 09:32:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,32,2015,3,8,9,32,0
18968,173168,2015-01-08 09:32:00,2015-01-08 09:32:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,32,2015,3,8,9,32,0
35155,347608,2015-01-08 09:32:00,2015-03-09 07:24:00,14,GTIYVLCMAYBFA,39,0.0,0,1,0,...,3,8,9,32,2015,0,9,7,24,59
37486,345650,2015-01-08 09:33:00,2015-01-08 09:33:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,33,2015,3,8,9,33,0
43530,68019,2015-01-08 09:32:00,2015-01-08 09:32:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,32,2015,3,8,9,32,0
44096,229196,2015-01-08 09:32:00,2015-01-08 09:32:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,32,2015,3,8,9,32,0
46294,127169,2015-01-08 09:33:00,2015-01-08 09:33:00,14,GTIYVLCMAYBFA,39,1.0,0,1,0,...,3,8,9,33,2015,3,8,9,33,0

In [104]:
df_filtered4 = c.query("device_id=='PPCQNVONMGSBH'")
df_filtered4

,user_id,signup_time,purchase_time,purchase_value,device_id,age,class,browser_Chrome,browser_FireFox,browser_IE,...,signup_month,signup_day,signup_hour,signup_minute,purchase_year,purchase_month,purchase_day,purchase_hour,purchase_minute,time difference in days
1561,149761,2015-01-03 19:02:00,2015-02-07 23:50:00,22,PPCQNVONMGSBH,31,0.0,1,0,0,...,5,3,19,2,2015,5,7,23,50,35
1754,270724,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
13859,234290,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
17008,108924,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
17083,292391,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
25620,352239,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
30234,164317,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
40295,326914,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0
43596,71207,2015-01-03 19:02:00,2015-01-03 19:02:00,22,PPCQNVONMGSBH,31,1.0,1,0,0,...,5,3,19,2,2015,5,3,19,2,0

In [105]:
df_filtered5 = c.query("device_id=='UHCAPOHBEBXJW'")
df_filtered5

,user_id,signup_time,purchase_time,purchase_value,device_id,age,class,browser_Chrome,browser_FireFox,browser_IE,...,signup_month,signup_day,signup_hour,signup_minute,purchase_year,purchase_month,purchase_day,purchase_hour,purchase_minute,time difference in days
6932,177933,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
8102,333058,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
8172,199106,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
9828,226758,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
25457,91333,2015-01-05 00:42:00,2015-01-05 00:42:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,42,2015,0,5,0,42,0
34914,193352,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
38742,153064,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
47029,291423,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0
49274,265168,2015-01-05 00:41:00,2015-01-05 00:41:00,59,UHCAPOHBEBXJW,28,1.0,1,0,0,...,0,5,0,41,2015,0,5,0,41,0

In [106]:
del c['user_id']
del c['device_id']
del c['signup_time']
del c['purchase_time']

In [107]:
from sklearn.model_selection import train_test_split

In [108]:
X=c.iloc[:,c.columns != 'class']

In [109]:
y=c['class']

In [110]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=100)

In [111]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(36183, 23)
(15507, 23)
(36183,)
(15507,)

In [54]:
from sklearn import svm

In [55]:
sv=svm.SVC(kernel='linear',gamma=1).fit(X_train,y_train)

In [57]:
sv.score(X_train,y_train)

0.9071663488378521